@mixin box-shadow($parameters) {
    -webkit-box-shadow: $parameters;
    -moz-box-shadow: $parameters;
    -o-box-shadow: $parameters;
    box-shadow: $parameters;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($parameters) {
    -webkit-transition: $parameters;
    -moz-transition: $parameters;
    -ms-transition: $parameters;
    transition: $parameters;
}

@mixin inline-block {
    display: inline-block;
    vertical-align: middle;
}

@mixin active {
    @include box-shadow(inset 0 2px 0 #d6d6d6);
    background-color: #e5e5e5;
    border: 1px solid rgba(0, 0, 0, 0.27);
}

@mixin button {
    @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
    @include border-radius(4px);
    border: 1px solid rgba(0, 0, 0, 0.17);
    @include transition($all);
    &:hover {
        @include box-shadow(0 1px 0 0 rgba(0, 0, 0, 0.27));
        border: 1px solid rgba(0, 0, 0, 0.27);
    }
    &:active {
        @include active;
    }
}

.test {
    color: green;
}

$main: #212121;
$white: #ffffff;
$gray: #a1a1a1;
$lightgray: #e1e1e1;
$navbar: #9d9d9d;
$forty: 40px;
$all: all 0.3s ease;
$green:#689f38;
$greenhover: darken($green, 5%);
$red: #ed5959;
html,
body {
    height: 100%;
}

.margin30 {
    margin: $forty - ($forty/4) 0;
}


.loader {
    position: relative;
    &:after {
        content: "";
        background: rgba(255, 255, 255, 0.5) url(../img/loader.gif) center center no-repeat;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
    }
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.container .credit {
    margin: 20px 0;
}
